/* .App {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
} */
/* 
.son {
  flex: 0 1 150px; 
  margin: 5px;
} */
.btn-action {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  size: 3cm;
}
button:hover {
  background-color: #4095c6;
}
